.avtor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 70px;

  &__description {
    word-spacing: 0.1em;
    letter-spacing: 0.02em;
    line-height: 1.6;
    text-align: justify; /* Выравнивание по ширине */
  }
}
