.button {
  @include fluid-text(10, 12);
  @include hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 25px -5px #00e0ff;
  }

  max-width: 479px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 9px;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  padding: 10px;
  color: var(--color-light);
  border: none;
  letter-spacing: 2px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  transition: all 0.3s ease;
  cursor: pointer;
}
