.neon-divider {
  position: relative;
  width: 100%;
  height: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-image-source: linear-gradient(
      270deg,
      rgba(74, 207, 236, 0.21) 0%,
      #32abc3 53.12%,
      rgba(74, 197, 236, 0.23) 100%
    );
    border-image-slice: 1;
    box-shadow: 0px 0px 24px 0px #00e0ff, 0px 4px 15px 0px #4ad9ec,
      0px 3px 15px 0px #00e0ffed;
    backdrop-filter: blur(2px);
    animation: neonGlow 3s ease-in-out infinite alternate;
  }

  &--short {
    width: 60%;
    margin: 60px auto;

    @include mobile {
      width: 80%;
    }
  }
}

@keyframes neonGlow {
  0% {
    opacity: 0.7;
    box-shadow: 0px 0px 20px 0px #00e0ff, 0px 4px 12px 0px #4ad9ec,
      0px 3px 12px 0px #00e0ffed;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 30px 0px #00e0ff, 0px 4px 20px 0px #4ad9ec,
      0px 3px 20px 0px #00e0ffed;
  }
}
