html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  zoom: 0.95;
  // для полномасштаба 0.95
}

html::-webkit-scrollbar {
  display: none;
}

body {
  // background-color: #111827;
}

p {
  @include fluid-text(16, 18);

  line-height: 1.08;
  font-weight: 500;
  color: var(--color-light);
}

h1 {
  @include fluid-text(45, 54);

  color: var(--color-light);
  line-height: 1.08;
  font-weight: 500;
  text-transform: uppercase;
}

.title-blue {
  color: var(--color-blue);
}
