:root {
  --color-light: #ffffff;
  --color-blue: #4abcec;
  --rounded-l: 6px;
  --rounded-xl: 36px;

  font-family: "Montserrat", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;

  --transition-duration: 0.2s;
}
