// Базовые стили и утилиты
@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_media.scss";
@import "_normalize.scss";
@import "_globals.scss";
@import "_utils.scss";

@import "blocks/block-one.scss";
@import "blocks/header.scss";
@import "blocks/button.scss";
@import "blocks/hero.scss";
@import "blocks/block-two.scss";
@import "blocks/advantages.scss";
@import "blocks/neon-divider.scss";
@import "blocks/block-three.scss";
@import "blocks/benefit.scss";
@import "blocks/block-four.scss";
@import "blocks/myths.scss";
@import "blocks/block-five.scss";
